.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100dvh;
	background-color: white;
}

.main canvas {
	border: 1px solid #000;
	background-color: white;
}